<nav class="navbar navbar-inverse navbar-fixed-top"
	style="height: 150px !important; background-color: #F26C77;"
	role="navigation">
	<div class="container navAlign">
		<div class="navbar-header">
			<a class="navbar-brand"
				style="color: white; margin: 0; font-size: -webkit-xxx-large; text-align: left; padding-left: 100px;">My
				Contacts</a>
		</div>
	</div>
</nav>
<div>
	<div
		style="width: 30%; height: auto; float: left; padding-top: 120px; border-right: 3px solid #eee; height: 800px;">
		<div class="button" style="padding-right: 15px;">
			<button type="button" class="btn btn-lg btn-default btn-responsive" ng-click="addNew()"
				style="float: right; background-color: #3080FB; color: white;padding-right: 20px;">+
				New</button>
				
		</div>

		<div class="container tablecontainer"
			style="display: inline-flex; padding-top: 50px; padding: 0;">
			<table class="table">
				<tbody>
					<tr ng-repeat="contact in contacts track by $index" style="border: 1px solid #eee;">
						<td style="border: 0">{{contact.firstName }} {{ contact.lastName }}</td>
						<td style="float: right; border: 0"><button type="button" ng-click="editContact(contact);"
								class="btn btn-md btn-default btn-responsive"
								style="position: right; padding-right: 20px;">Edit</button>
							<button type="button" ng-click="deleteContact(contact.id);"
								class="btn btn-md btn-default btn-responsive"
								style="position: right; ">Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div
		style="float: right; width: 70%; height: auto; padding-top: 120px; padding-left: 30px;">
		<span class="label"
			style="color: black; font-stretch: ultra-condensed; font-size: x-large; font-weight: bolder; padding: 0;">ADD
			OR EDIT CONTACT (FULL NAME)</span>
		<hr />
		<div>
			<form class="form-horizontal" role="form" name="contactForm"
				style="padding-left: 25px; position: absolute;">
				<div class="form-group">
					<label for="firstName" class="col-lg-6">First Name</label>
					<div class="col-lg-6">
						<input class="form-control input-md" id="firstName" name="firstName"
							placeholder="Enter First Name" ng-model="newcontact.firstName" required>
							<span style="color: red" class="has-error" ng-show="submitted && contactForm.firstName.$error.required">FirstName is Required</span>
					</div>
				</div>

				<div class="form-group">
					<label for="lastName" class="col-lg-6">Last Name</label>
					<div class="col-lg-6">
						<input class="form-control" id="lastName" name="lastName"
							placeholder="Enter Last Name" ng-model="newcontact.lastName" required>
							<span style="color: red" class="has-error" ng-show="submitted && contactForm.lastName.$error.required">LastName is Required</span>
					</div>
				</div>

				<div class="form-group">
					<label for="birthday" class="col-lg-6">Birth Day</label>
					<div class="col-lg-6">
					
						<input class="form-control" id="birthday" placeholder="DD/MM/YYYY" name="birthday"  
							ng-model="newcontact.birthday" required>
							<span style="color: red" class="has-error" ng-show="submitted && contactForm.birthday.$error.required">Birthday is Required</span>
					</div>
				</div>

				<div class="form-group">
					<label for="company" class="col-lg-6">Company</label>
					<div class="col-lg-6">
						<input class="form-control" id="company" name ="company"
							placeholder="Enter Company" ng-model="newcontact.company" required>
							<span style="color: red" class="has-error" ng-show="submitted && contactForm.company.$error.required">Company is Required</span>
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="col-lg-6">Email Address</label>
					<div class="col-lg-6">
						<input class="form-control" id="email" type="email" name="email"
							placeholder="example@domain.com" ng-model="newcontact.email" required>
							<span style="color: red" class="has-error" ng-show="submitted && contactForm.email.$error.required">Email is Required</span>
            				<span class="has-error" style="color: red" ng-show="submitted && contactForm.email.$error.email">Invalid email</span>
					</div>
				</div>

				<div class="form-group">
					<label for="mobile" class="col-lg-6 ">Mobile Number</label>
					<div class="col-lg-6">
						<input class="form-control" id="mobile" placeholder="000-000-0000" name="mobile"
							ng-model="newcontact.mobile" required ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/">
							<span style="color: red" class="has-error" ng-show="submitted && contactForm.mobile.$error.required">Mobile Number is Required</span>
							<span class="has-error" style="color: red" ng-show="submitted && contactForm.mobile.$error.pattern">Invalid Mobile Number Format</span>
					</div>
				</div>
				<span ng-show="nameRequired">{{fistnameRequired}}</span>
			</form>
			<div style="float: right; padding-right: 100px">
				<canvas id="imageCanvas" width="140" height="200" class="imgview">No Preview</canvas>
				<button type="button" class="btn btn-lg btn-default btn-responsive" id="imgselector"
					style="align: center; background-color: #3080FB; color: white; padding-right: 10px; margin-left: 40px; position: absolute;">Upload
					Image</button>
					<input type="file" id="imageLoader" style="display: none;"/>
			</div>
			<div id="info_div_note">
				<hr />
				<div style="float: right;margin-right: 75px;">
					<button type="button"  class="btn btn-lg btn-default btn-responsive" ng-click="contactForm.$invalid ? submitted = true : saveContact()"
						style=" background-color: #3080FB; position: right; padding-right: 20px; color: white;">Save</button>
					<button type="button" class="btn btn-lg btn-default btn-responsive"ng-click="reset()"
						style="background-color: #3080FB; position: right; padding-right: 20px; color: white;">Cancel</button>
				</div>
			</div>

		</div>
	</div>
</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom"
	style="height: 70px !important; background-color: #F26C77;"
	role="navigation">
	<div class="container navAlign">
		<div class="navbar-header">
			<a class="navbar-brand"
				style="color: white; margin: 0; font-size: x-large; padding-left: 100px;">Footer</a>
		</div>
	</div>
</nav>
<link href="styles/contacts.css" rel="stylesheet">
